name: "Code Style"

on:
    push:
        branches:
            - "main"
    pull_request: null
    schedule:
        # Do not make it the first of the month and/or midnight since it is a very busy time
        - cron: "* 10 5 * *"

# See https://stackoverflow.com/a/72408109
concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    php-cs-fixer:
        runs-on: "ubuntu-latest"
        name: "PHP-CS-Fixer ${{ matrix.php }}"
        strategy:
            fail-fast: true
            matrix:
                php:
                    # Should be the lowest supported PHP version.
                    # To also adjust the PHP version in the following files:
                    # - vendor-bin/php-cs-fixer/composer.json
                    # - vendor-bin/rector/composer.json
                    - "8.3"

        steps:
            -   name: "Check out repository code"
                uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0

            -   name: "Setup PHP"
                uses: "shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f" # master
                with:
                    php-version: "${{ matrix.php }}"
                    tools: "composer"

            -   name: "Install Composer dependencies"
                uses: "ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520" # 3.1.1

            -   name: "Install PHP-CS-Fixer Composer dependencies"
                if: "! matrix.skip_static_checks"
                uses: "ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520" # 3.1.1
                with:
                    working-directory: "vendor-bin/php-cs-fixer"

            -   name: "Lints CS"
                run: "make cs_lint"


    # This is a "trick", a meta task which does not change, and we can use in
    # the protected branch rules as opposed to the individual tests which
    # may change regularly.
    validate-tests:
        name: Code Style Status
        runs-on: ubuntu-latest
        needs:
            - php-cs-fixer
        if: always()
        steps:
            - name: Successful run
              if: ${{ !(contains(needs.*.result, 'failure')) }}
              run: exit 0

            - name: Failing run
              if: ${{ contains(needs.*.result, 'failure') }}
              run: exit 1
